<% provide(:title, 'About') %>

<div class="container">
	<h1 class="title">About</h1>
	<div class="col-md-12 col-xs-12">
		<div class="col-md-5 col-xs-12 well">
			<h3>Cream cheese?</h3>
			<p>In Japan, Kit Kats are serious business. Not only are there dedicated Kit Kat confectionaries hidden away in Tokyo, but there are also numerous regional and seasonal varieties. Unlike maybe the lucky bag of green tea kit kat that you may find in a Japanese supermarket, there are numerous kinds of kit kats hidden away in Japan. From regional such as Amaou Strawberry, or the Uji Green Tea, these cannot be readily found outside of the land of the rising sun.  Here, you can learn about some of the flavors that you should be on the lookout for the next time you visit Japan!</p>
		</div>

		<div class="col-md-6 col-md-offset-1 col-xs-12 well">
			<div id="aboutCarousel" class="carousel slide" data-ride="carousel">
			  <!-- Indicators -->
			  <ol class="carousel-indicators">
			    <li data-target="#aboutCarousel" data-slide-to="0" class="active"></li>
			    <li data-target="#aboutCarousel" data-slide-to="1"></li>
			    <li data-target="#aboutCarousel" data-slide-to="2"></li>
			    <li data-target="#aboutCarousel" data-slide-to="3"></li>
			  </ol>
			
			  <!-- Wrapper for slides -->
			  <div class="carousel-inner" role="listbox">
			    <div class="item active">
			      <%= image_tag 's1.jpg', alt: "Kit Kat",  :class=>"img-responsive"%>
			      <div class="carousel-caption">
			      	<p>Varieties of regional Kit-Kats</p>
			      </div>
			    </div>
			
			    <div class="item">
			      <%= image_tag 's2.jpg', alt: "Kit Kat",  :class=>"img-responsive"%>
			      <div class="carousel-caption">
			      	<p>Train station stores selling regional Kit-Kats</p>

			      </div>
			    </div>
			
			    <div class="item">
			      <%= image_tag 's3.jpg', alt: "Kit Kat",  :class=>"img-responsive"%>
			      <div class="carousel-caption">
			      	<p>A variety of flavors from Northern Japan</p>
			      </div>
			    </div>
			
			    <div class="item">
			      <%= image_tag 's4.jpg', alt: "Kit Kat",  :class=>"img-responsive"%>
			      <div class="carousel-caption">
			      	<p>New flavors for 2015</p>
			      </div>
			    </div>
			  </div>
			
			  <!-- Left and right controls -->
			  <a class="left carousel-control" href="#aboutCarousel" role="button" data-slide="prev">
			    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
			    <span class="sr-only">Previous</span>
			  </a>
			  <a class="right carousel-control" href="#aboutCarousel" role="button" data-slide="next">
			    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
			    <span class="sr-only">Next</span>
			  </a>
			</div>
		</div>
	</div>
	<div class="col-md-12 col-xs-12">
		<div class="well">
			<h3>The Confectionary</h3>
			<p>Japan is the only place in the world with specialized Kit Kat confectionaries. The shops themselves are the only place for exclusive kit kats that will not be found anywhere else. Unlike regional specialities, these kit kats are made by a chef specially for the store. They make special edition flavors as well as limited edition flavors such as butter flavor.</p>
		</div>
	</div>
</div>
