<% provide(:title, 'Home') %>
<div id="title-background"></div>
<div class="container-fluid col-md-12 col-xs-12 col-sm-12">
	<div class="jumbotron text-center col-md-4 col-md-offset-4 col-xs-8 col-xs-offset-2" id="title-about">
		<h3>KITTO KATSU!</h3>
		<hr>
		<p>Ever wondered about the flavors of kit kats that you may be missing out?</p>

		<%= link_to 'About', about_path, class: 'btn btn-primary' %>
	</div>
</div>