<% provide(:title, 'Home') %>
<div class="jumbotron home-img">
	<div class="container-fluid  col-md-4 col-md-offset-6">
		<div class="jumbotron">
			<h3>The world is a wide place</h3>
			<p>Ever wondered about the mystery that are kit kats?</p>
			<a href="#" class="btn btn-primary" role="button">About</a>
		</div>
	</div>
</div>