<% provide(:title, 'Locations') %>
<div id="title-background"></div>
<div class="container-fluid  col-md-8 col-md-offset-2 col-xs-8 col-xs-offset-2">
	<div class="jumbotron" id="">
		<h2>Kit Kat Chocolatory Locations</h2>
		<hr>
		<div id="googleMap" class="col-md-8 col-md-offset-2 col-xs-6"></div>
		<br>
		<div class="stores">
			<ul class="nav nav-tabs nav-justified">
			  <li class="active"><a data-toggle="tab" href="#stores-tokyo">Tokyo</a></li>
			  <li><a data-toggle="tab" href="#stores-nagoya">Nagoya</a></li>
			  <li><a data-toggle="tab" href="#stores-kyoto">Kyoto</a></li>
			  <li><a data-toggle="tab" href="#stores-osaka">Osaka</a></li>
			  <li><a data-toggle="tab" href="#stores-sapporo">Sapporo</a></li>
			</ul>
			
			<div class="tab-content">
			  <div id="stores-tokyo" class="tab-pane fade in active">
				<div class="row">
					<div class="col-md-6 col-xs-6 store">
						<p class='store-title'>Address</p>
						<p class='store-content'>大丸東京店 地下1階 ほっぺタウン</p>
						<p class='store-content'>東京都千代田区丸の内1-9-1</p>
						<p class='store-title'>Hours</p> 
						<p class='store-content'>M-F: 10AM - 9PM</p>
						<p class='store-content'>Sa-Sun: 10AM-8PM</p>
						<p class='store-title'>Phone Number</p>
						<p class='store-content'>03-6895-8735</p>
						<button class="btn btn-info" id="store-tokyo1">Find Location</button>
					</div>
					<div class="col-md-6 col-xs-6 store">
						<p class='store-title'>Address</p>
						<p class='store-content'>西武池袋本店 地下1階</p>
						<p class='store-content'>東京都豊島区南池袋1-28-1</p>
						<p class='store-title'>Hours</p> 
						<p class='store-content'>M-F: 10AM - 9PM</p>
						<p class='store-content'>Sa-Sun: 10AM-8PM</p>
						<p class='store-title'>Phone Number</p> 
						<p class='store-content'>03-5949-2026</p>
						<button class="btn btn-info" id="store-tokyo2">Find Location</button>
					</div>
				</div>
			  </div>
			  <div id="stores-nagoya" class="tab-pane fade">
				<div class="row">
					<div class="col-md-6 col-xs-6 store">
						<p class='store-title'>Address</p>
						<p class='store-content'>松坂屋名古屋店 本館地下1階 ごちそうパラダイス</p>
						<p class='store-content'>名古屋市中区栄3-16-1</p>
						<p class='store-title'>Hours</p> 
						<p class='store-content'>Everyday: 10AM - 8PM</p>
						<p class='store-title'>Phone Number</p> 
						<p class='store-content'>052-261-5519</p>
						<button class="btn btn-info" id="store-nagoya1">Find Location</button>
					</div>
				</div>
			  </div>
			  <div id="stores-kyoto" class="tab-pane fade">
				<div class="row">
					<div class="col-md-6 col-xs-6 store">
						<p class='store-title'>Address</p>
						<p class='store-content'>大丸京都店 地下1階 ごちそうパラダイス</p>
						<p class='store-content'>京都市下京区四条通高倉西入立売西町79番地</p>
						<p class='store-title'>Hours</p> 
						<p class='store-content'>Everyday: 10AM-8PM</p>
						<p class='store-title'>Phone Number</p>
						<p class='store-content'>075-211-8111</p>
						<button class="btn btn-info" id="store-kyoto1">Find Location</button>
					</div>
				</div>
			  </div>
			  <div id="stores-osaka" class="tab-pane fade">
				<div class="row">
					<div class="col-md-6 col-xs-6 store">
						<p class='store-title'>Address</p>
						<p class='store-content'>大丸梅田店　地下1階 ごちそうパラダイス</p>
						<p class='store-content'>大阪市北区梅田3-1-1</p>
						<p class='store-title'>Hours</p> 
						<p class='store-content'>M-F: 10AM - 8:30PM</p>
						<p class='store-content'>Sa-Sun: 10AM-8PM</p>
						<p class='store-title'>Phone Number</p>
						<p class='store-content'>06-6343-1231</p>
						<button class="btn btn-info" id="store-osaka1">Find Location</button>
					</div>
				</div>
			  </div>
			  <div id="stores-sapporo" class="tab-pane fade">
				<div class="row">
					<div class="col-md-6 col-xs-6 store">
						<p class='store-title'>Address</p>
						<p class='store-content'>大丸札幌店B1 ほっぺタウン内</p>
						<p class='store-content'>札幌市中央区北5条西4丁目7番地</p>
						<p class='store-title'>Hours</p> 
						<p class='store-content'>Everyday: 10AM-8PM</p>
						<p class='store-title'>Phone Number</p>
						<p class='store-content'>011-828-1111</p>
						<button class="btn btn-info" id="store-sapporo1">Find Location</button>
					</div>
				</div>
			  </div>
			</div>
		</div>

	</div>
</div>