@import "bootstrap-sprockets";
@import "bootstrap";

body{
	background-color: #F23383;
}

/*
Home Page
 */
#title-background{
	position: fixed;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	z-index: -1;
	background: image-url('title.jpg') no-repeat center center fixed;
	background-size: cover;
}



//Background image of the home page
#bg-illust{
}

#title-about{
	transform: translateY(170%);
}

/*
About Page
 */

.carousel .item img{
	max-height: 400px;
	height: auto;
	width: 100%;
	overflow: hidden;
}

/*
Kit Kats
 */

.kitkats{
	margin-bottom: 20px;
	box-shadow: 5px 5px;
}

.kitkat-img img{
	height: 300px;
	width: 400px;
}