@import "bootstrap-sprockets";
@import "bootstrap";

$brown: #330019;
$iphone_H: 600px;
$iphone_W: 500px;

/*
Global
 */

body{
	background-color: $brown;
}

.well{
	opacity: .9;
}

.navbar-default{
	background: -webkit-linear-gradient(#330019, #660033); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#330019, #660033); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#330019, #660033); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#330019, #660033); /* Standard syntax (must be last) */
    border-color: black;
    .container{
    	.navbar-header{
    		a{
    			color:white;
    			&:hover{
    				color:brown;
    			}
    		}
    	}
    	li{
    		border-left-style: solid;
    		border-right-style: solid;
    		a{
    			color: red;
		    	&:hover{
		    		color: white;
		    	}
    		}
		}
    }
}

.title{
	color:white;
}

/*
Home Page
 */
#title-background{
	position: fixed;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	z-index: -1;
	background: image-url('title.jpg') no-repeat center center fixed;
	background-size: cover;
}

#title-about{
	transform: translateY(150%);
	@media screen and (max-width: 500px) and (min-width: 320px){
		transform: translateY(50%);
	}
	@media screen and (orientation: landscape) and (max-height: 768px){
		transform: translateY(50%);
	}
}

/*
About Page
 */

.carousel .item img{
	max-height: 400px;
	height: auto;
	width: 100%;
	overflow: hidden;
}

/*
Kit Kats
 */

.kitkats{
	margin-bottom: 20px;
	opacity: .65;
	-webkit-transition: opacity 0.5s ease-in-out; /* Safari */
    transition: opacity 0.5s ease-in-out;
	&:hover{
		opacity: 1;
	}
}

.kitkat-img{
	height: 300px;
	width: 400px;
}

.kitkat-img-thumb{
	height: 120px;
	width: 150px;
	@media screen and (min-height: 600px) and (max-width: 800px){
		height: 150px;
		width: 200px;
	}
}

/*
Google Maps
 */

#googleMap{
	min-width:500px;
	min-height:400px;
	width: 70%;
	height: 40%;
	margin-bottom: 20px;
}

/*
Locations
 */

.store{
	p{
		margin-bottom: 0;
	}
	.store-content{
		font-style: italic;
		font-size: 90%;
	}
	.store-title{
		font-weight: bold;
	}
}
