@import "bootstrap-sprockets";
@import "bootstrap";


/*
Home Page
 */
#title-background{
	position: fixed;
	height: auto;
	width: 100%;
	top: 0;
	left: 0;
	z-index: -1;
}

#title-about{
	transform: translateY(170%);
}

/*
About Page
 */

.carousel .item img{
	max-height: 400px;
	height: auto;
	width: 100%;
	overflow: hidden;
}